.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  max-width: 400px;
}

.mapLoading {
  height: 300px;
  width: 100%;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .main {
    width: 100%;
  }
}
